<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <!-- /Map page -->
      <div id="map" class="map"></div>
      <select id="layer-select">
        <option value="Aerial">Aerial</option>
        <option value="AerialWithLabels" selected>Aerial with labels</option>
        <option value="Road">Road</option>
        <option value="collinsBart">Collins Bart</option>
        <option value="ordnanceSurvey">Ordnance Survey</option>
      </select>
      <!-- /Ende Map page -->
  </ion-content>
</ion-view>
