<ion-view view-title="信息列表">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="result in results">
                <h4 class="icon-left">{{result.shop_name}}</h4>
                <div class="icon-left ion-ios-home location_info">
                    {{result.distance}} 公里 | {{result.street_address}}
                </div>
                <div class="button icon-left ion-ios-telephone button-calm button-outline">
                    <a ng-href="tel: {{result.shop_tel[0]}}">{{result.shop_tel[0]}}</a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
