<ion-view view-title="Dashboard">
  <ion-content>
      <!-- /Map page -->
      <div id="map" class="map"></div>

      <div style="display: none;">
          <!-- Clickable label for Vienna -->
          <a class="overlay" id="vienna" target="_blank" href="http://en.wikipedia.org/wiki/Vienna">Vienna</a>
          <div id="marker" title="Marker"></div>
          <!-- Popup -->
          <div id="popup" title="Welcome to ol3"></div>
      </div>
      <!-- /Ende Map page -->
  </ion-content>
</ion-view>
