<ion-view view-title="信息列表">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="result in results">
                <h2 class="icon-left">{{result.title}}</h2>
                <p>{{result.body}}</p>
                <div class="icon-left ion-ios-home location_info">
                    {{result.location_info}}
                </div>
                <div class="button icon-left ion-ios-telephone button-calm button-outline">
                    <a ng-href="tel: {{result.phone_number}}">{{result.phone_number}}</a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
