
html, body, .map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.scroll-content > .scroll {
    height: 100%;
}
.scroll-content > .scroll > iframe {
    min-height: 100%;
}

.scroll{height: 100%;}

#marker {
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 0.5;
}
#vienna {
    text-decoration: none;
    color: white;
    font-size: 11pt;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.popover-content {
    min-width: 180px;
}