
html, body, .map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.scroll-content > .scroll {
    height: 100%;
}
.scroll-content > .scroll > iframe {
    min-height: 100%;
}

.scroll{height: 100%;}

#marker {
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
}

.popover-content {
    min-width: 50px;
}

.popover {
    max-height: 120px;
    margin-left: 0px;
    height: auto;
}

.location_info {
    font-size: 12px;
}
